 body
 {
  font-family:arial,helvetica,sans;
 }
 a
 {
  font-size: 10pt;
  text-decoration: none;
 }
 a:hover
 {
  color: black;
 }
 table
 {
  align: center;
 }
 td
 {
  vertical-align: top;
  text-align: center;
  font-size: 10pt;
  padding: 5px;
 }
 .titletext
 {
 font-weight: bold;
 }
 .subtextL
 {
 text-align: left;
 max-width: 50%;
 }
 .subtextR
 {
 text-align: right;
 max-width: 50%;
 }
 .covimage
 {
 height: 200px;
 height: 220px;
 vertical-align: center;
 }
 .textlist1
 {
 width: 400px;
 text-align: left;
 }
 .textlist2
 {
 width: 100px;
 text-align: left;
 }
 .module
 {
 width: 220px;
 }

