@CHARSET "UTF-8";

body 
{
	background: #FFFFFF;
	color: #000000;
}
td 
{
	font-size:12px;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	padding-right: 24px;
	padding-bottom: 3px;

}
select
{
	color: white;
	background: #5C5858;
}
input
{
	font-weight: bold;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;

}
h3
{
	font-size:24px;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;	
}