@CHARSET "UTF-8";

body 
{
	background: #FFFFFF;
	color: #000000;
}
td 
{
	font-size:12px;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	padding: 5px;
	border:1px solid #98bf21;
}
select
{
	color: white;
	background: #5C5858;		
}
input
{
	font-weight: bold;
}
